<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <title>Direct Lend Book</title>
<!--    <style>-->
<!--        /* width */-->
<!--        ::-webkit-scrollbar {-->
<!--            width: 10px;-->
<!--        }-->

<!--        /* Track */-->
<!--        ::-webkit-scrollbar-track {-->
<!--            background: #f1f1f1;-->
<!--        }-->

<!--        /* Handle */-->
<!--        ::-webkit-scrollbar-thumb {-->
<!--            background: #888;-->
<!--        }-->

<!--        /* Handle on hover */-->
<!--        ::-webkit-scrollbar-thumb:hover {-->
<!--            background: #555;-->
<!--        }-->
<!--    </style>-->
</head>

<body>
<div th:replace="navBar-layout :: employeeNavBar"></div>


<div class="container" >
    <div class="nav management-bar">
        <ul>
            <li><a href="/employee/management/reservations">Issues</a></li>
            <li><a href="/employee/management/directloan">Lending Book </a></li>
        </ul>
    </div>
    <div class="row">
        <form th:action="@{/employee/manegement/directloan}" method="GET">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title"/>
            </div>

            <div class="col-25">
                <label for="author">Author</label>
            </div>
            <div class="col-75">
                <input type="text" id="author" name="author"/>
            </div>
            <div>
                <input type="submit" value="Search"/>
            </div>
        </form>
        <div>
            <a href="?">
                <button type="button" class="submit-button">Show all books</button>
            </a>
        </div>
    </div>
    <div class="style-scroll">
        <table th:if="${books.size() > 0 }" id="tablestyle">
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Language</th>
                <th>Description</th>
                <th>Publisher</th>
                <th>Style</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.language}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.NXB}"></td>
                <td th:text="${book.style}"></td>
                <td th:text="${book.price}"></td>
                <td style="width: 200px">
                    <a th:href="@{/employee/books/view-direct-loan/{id}(id=${book.ISBN})}">
                        <button type="button" class="submit-button">Add to issues</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>


</div>
</body>
</html>
