<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <title>New Book</title>
</head>

<body>
<div th:replace="navBar-layout :: employeeNavBar"></div>


<div class="container">
    <h3>Add new book to catalog</h3>

    <form
            th:action="@{/employee/books/save}"
            th:object="${book}"
            method="POST"
    >
        <div class="row">
            <div class="col-250">
                <div class="row">
                    <div class="col-50">
                        <label for="title">ISBN</label>
                    </div>

                    <div class="col-75">
                        <input
                                type="text"
                                id="title"
                                name="title"
                                th:field="${book.ISBN}"
                                required="required"
                        />
                    </div>

                    <div class="col-50">
                        <label for="title">Title</label>
                    </div>

                    <div class="col-75">
                        <input
                                type="text"
                                id="title"
                                name="title"
                                th:field="${book.title}"
                                required="required"
                        />
                    </div>

                </div>


                <div class="row">
                    <div class="col-50">
                        <label for="author">Author</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="text"
                                id="author"
                                name="author"
                                th:field="${book.author}"
                                required="required"
                        />
                    </div>

                    <div class="col-50">
                        <label for="language">Language</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="text"
                                id="language"
                                name="language"
                                th:field="${book.language}"
                                required="required"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="text"
                                id="description"
                                name="description"
                                th:field="${book.description}"
                                required="required"
                        />
                    </div>

                    <div class="col-50">
                        <label for="NXB">Publisher</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="text"
                                id="NXB"
                                name="NXB"
                                th:field="${book.NXB}"
                                required="required"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <label for="amount">Amount</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="number"
                                id="amount"
                                name="amount"
                                th:field="${book.amount}"
                                required="required"
                        />
                    </div>

                    <div class="col-50">
                        <label for="style">Style</label>
                    </div>
                    <div class="col-75">
                        <input
                                type="text"
                                id="style"
                                name="style"
                                th:field="${book.style}"
                                required="required"
                        />
                    </div>
                </div>
            </div>
            <div class="col-75">
                <label for="Image">Image: </label>
            </div>

        </div>


        <div class="row">
            <div class="col-50"></div>
            <div class="col-50"></div>
            <div class="col-50"></div>
            <div class="col-75">
                <input type="submit" value="Submit"/>
            </div>
        </div>
    </form>
    <form th:action="@{/employee/books/showbooks}">
        <div class="row">
            <div class="col-50"></div>
            <div class="col-50"></div>
            <div class="col-50"></div>
            <div class="col-75">
                <input class="registerButton" type="submit" value="Back">
            </div>
        </div>
    </form>
</div>
</body>
</html>
