<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}"/>
	<title>Employee-Home</title>
</head>

<body>
	<div class="wrapper">
		<div th:replace="navBar-layout :: employeeNavBar"></div>
		
		<div class="homeContent">
			<h1 th:text="${'Hello,' + ' ' + currentUser.name}"></h1>
			<p>Welcome to the library</p>
			<p>Your task is to manage the library and assist readers in borrowing and returning books</p>
		</div>

	</div>
</body>
</html>
