<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1"/>
  <title>File-Working</title>
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<div th:replace="navBar-layout :: employeeNavBar"></div>
<div class="homeContent">
  <form th:action="@{/api/excel/upload}" method="post" enctype="multipart/form-data" >
    <input type="file" th:name="file"/>
    <br>
    <input th:type="submit" value="Upload"/>
  </form>
  <div>
    <form th:action="@{/employee/books/showbooks}">
      <div class="row">
        <input class="registerButton" type="submit" value="Back">
      </div>
    </form>
  </div>


</div>

</body>
</html>